body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8%;
    background-color: lightskyblue;
}

.playergrid {
    background-color: #87CEEB;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    border: 3px solid navy;
}

#log {
    background-color: white;
    width: 100%;
    height: 100%;
    border: 3px solid navy;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computergrid {
    background-color: #87CEEB;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    border: 3px solid navy;
}

.box {
    width: 35px;
    height: 35px;
    border: 1px solid navy;
    color: navy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}